@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Montserrat:wght@200&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

body {
   background-color: hsl(30, 38%, 92%);
   width: 100%;
   height: 100vh; 
   position: relative;
}

.shop-container {
   width: 600px;
   top: 50%;  
   height: max-content;
   left: 50%;
   border-radius: 10px;
   transform: translate(-50%,-50%);
   height: max-content;
   position: absolute;
   background-color: #fff;
   border: none;
}


.left-container img {
   height: 100%;
   width: 100%;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}

.content-container {
    display: flex;
    margin: 20px;
    flex-direction: column;
}

.content-container #product {
    color: rgba(110, 109, 109, 0.815);
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}

.content-container #heading {
    font-size: 2.2rem;
    font-weight: bolder;
    font-family: 'Fraunces', serif;
}

.content-container #content {
    color: hsl(228, 12%, 48%);
    font-family: 'Fraunces', sans-serif;
    text-transform: capitalize;
}

.price {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: row; 
    font-family: 'Fraunces', serif;
}

.price #real-price {
    font-size: 2rem;
    color: rgb(12, 180, 12);
}

.price #past-price {
    font-size: 1.2rem;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;   
}

.content-container button {
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: 'Fraunces', sans-serif;
}


@media screen and (max-width: 600px) {
    .shop-container {
        width: 300px;
        padding: 10px;
    }
    
    .left-container img {
        border-radius: 10px;
        height: 200px;
    } 

    html {
       font-size: 0.5rem; 
    }
}